html {
    overflow-x: hidden;
}

.container p {
    padding-top: 10px;
    padding-bottom: 5px;
}

.container h2 {
    margin-bottom: 0px;
    padding-top: 10px;
}

@media (min-width: 768px) {
    .container p {
        font-size: 1.05rem;
        padding-left: 50px;
        padding-right: 50px;
    }
    
    .container h2 {
        padding-left: 50px;
        padding-right: 50px;
    }
}

p a.button {
    margin-top: 16px;
    margin-bottom: 0px;
}

body > .container {
    padding-top: 10px;
}

#our-products {
    margin-left: auto;
    margin-right: auto;
    margin-top: 5px;
    margin-bottom: 10px;
    display: block;
}

@media (min-width: 768px) {
    #our-products {
        float: right !important;
        margin: 0px 10px;
    }
}

@media (min-width: 992px) {
    a.button + a.button {
        margin-left: 10px;
    }
}

body > .container:after {
    content: "";
    display: block !important;
    height: 35px;
    margin: 10px 10px 0px 10px;
    background-repeat: no-repeat;
    background-position: center;
    background-clip: content-box;
    background-size: contain;

    background-image: url(../img/konqi/tiny.svg);
} 
