---
layout: default
title: Страница не найдена
---

<style type="text/css" media="screen">
    .container {
        margin: 10px auto;
        max-width: 600px;
        text-align: center;
    }
    h1 {
        margin: 30px 0;
        font-size: 4em;
        line-height: 1;
        letter-spacing: -1px;
    }
    .konqi-footer:after {
        content: "";
        display: block !important;
        height: 40px;
        margin: 40px 10px 10px 10px;
        background-repeat: no-repeat;
        background-position: center;
        background-clip: content-box;
        background-size: contain;

        background-image: url(img/konqi/tiny.svg);
    } 
</style>

<div class="container konqi-footer">
  <h1>404</h1>

  <p><strong>Страница не найдена :(</strong></p>
  <p>Указанная страница не существует.</p>
</div>
