<div class="row justify-content-between align-items-center mb-2 w-100 pl-3">
    <span class="col-2"><img class="app-icon" src="img/icons/{{ include.icon }}" alt=""></span>
    <span class="col-7">{{ include.descr }}</span>
    <span class="col-3">
        <a href="{{ include.get }}" class="text-center top-tooltip fas fa-download button d-inline-block" style="width: 35px;"><span class="tooltiptext">Скачать</span></a>
        <a href="{{ include.web }}" class="text-center top-tooltip fas fa-info button d-inline-block" style="width: 35px;"><span class="tooltiptext">Перейти на сайт</span></a>
    </span>
</div>
