<div id="carouselExampleIndicators" class="carousel slide mb-3" data-ride="carousel">
  <ol class="carousel-indicators">
    <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
    <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
    <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
    <li data-target="#carouselExampleIndicators" data-slide-to="3"></li>
    <li data-target="#carouselExampleIndicators" data-slide-to="4"></li>
  </ol>
  <div class="carousel-inner">
    <div class="carousel-item active">
      <a href="https://dolphin.kde.org"><img class="d-block w-100" src="img/banners/dolphin.png" alt="Dolphin"></a>
    </div>
    <div class="carousel-item">
      <a href="https://krita.org"><img class="d-block w-100" src="img/banners/krita.png" alt="Krita"></a>
    </div>
    <div class="carousel-item">
      <a href="https://kdevelop.org"><img class="d-block w-100" src="img/banners/kdevelop.png" alt="KDevelop"></a>
    </div>
    <div class="carousel-item">
      <a href="https://falkon.org"><img class="d-block w-100" src="img/banners/falkon.png" alt="Falkon"></a>
    </div>
    <div class="carousel-item">
      <a href="https://kdenlive.org"><img class="d-block w-100" src="img/banners/kdenlive.png" alt="Kdenlive"></a>
    </div>
  </div>
  <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div> 
