<footer class="footer">
    <div class=container>
    <div class="d-flex flex-column flex-sm-row align-items-center justify-content-sm-between px-4 py-2">
            <div class="">
                <ul class="list-inline social text-center mb-0">
                    <li class="list-inline-item"><a href="https://vk.com/kde_ru" target="_blank"><i class="fab fa-vk"></i></a></li>
                    <li class="list-inline-item"><a href="https://t.me/kde_ru" target="_blank"><i class="fab fa-telegram"></i></a></li>
                    <li class="list-inline-item"><a href="https://twitter.com/KDE_Russia" target="_blank"><i class="fab fa-twitter"></i></a></li>
                    <li class="list-inline-item"><a href="https://lists.kde.ru/mailman/listinfo/kde-russian" target="_blank"><i class="fas fa-envelope"></i></a></li>
                </ul>
            </div>
        <div class="text-muted">
            &copy <a class="text-green" href="{{ site.url }}/license">Авторы KDE.ru</a>, 2018
        </div>
    </div>
    </div>
</footer>

<!-- Optional JavaScript -->
<!-- jQuery first, then Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.2/js/bootstrap.min.js" integrity="sha384-o+RDsa0aLu++PJvFqy8fFScvbHFLtbvScb8AjopnFD+iEQ7wo/CG0xlczd+2O/em" crossorigin="anonymous"></script>

<script src="{{ site.url }}/js/main.js"></script>
<button onclick="topFunction()" id="beamUp" title="Вверх"><i class="fa fa-angle-up"></i></button>
