<header {% if page.fixed-header %} class="fixed-top" {% endif %}>
    <nav class="navbar navbar-expand-md container-fluid navbar-light bg-light">
        <a class="navbar-brand" href="{{ site.url }}/">
            <div class="logo-background align-middle mr-3"><img src="{{ site.url }}/img/kde-logo.svg" width="30" height="30" alt="K"/></div>
        {{ site.title }}
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <img src="{{ site.url }}/img/hamburger.svg" width="30" height="30" class="d-inline-block align-center" alt="☰">
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link" href="{{ site.url }}/">О сообществе</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ site.url }}/get">Загрузить</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ site.url }}/join">Как присоединиться</a>
                </li>
            </ul>
        </div>
    </nav>
</header>

<div class="alert alert-warning alert-dismissible" style="display:none;" id="differentBrowserLanguage" role="alert">
    <strong>Your browser language is different from Russian (Русский).</strong> You might want to go to <strong><a href="https://kde.org">KDE.org</a></strong> instead.
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
