<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>
    {% if page.title == "О сообществе" %}
      {{ site.title }}
    {% else %}
      {{ page.title }} - {{ site.title }}
    {% endif %}
    </title>
    
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.2/css/bootstrap.min.css" integrity="sha384-Smlep5jCw/wG7hdkwQ/Z5nLIefveQRIY9nfy6xoR1uRYBtpZgI6339F5dgvm/e9B" crossorigin="anonymous" />
    
    <!-- FontAwesome CSS -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">
    
    <!-- Google Fonts CSS -->
    <link href="https://fonts.googleapis.com/css?family=Noto+Sans|Roboto" rel="stylesheet">
    
    <link rel="stylesheet" href="{{ site.url }}/css/main.css" />
        {% if page.additional-css %}
            <link rel="stylesheet" href="{{ site.url }}/css/{{ page.additional-css }}.css" />
		{% endif %}

    <link rel="icon" href="{{ site.url }}/img/kde-icon-32x32.png" sizes="32x32" />
    <link rel="icon" href="{{ site.url }}/img/kde-icon-192x192.png" sizes="192x192" />
    
    {% seo title=false %}
</head>
