<section id="desktop-hero">
    <article style="padding: 150px 0px 20px 40px; color: #000; " class="container">
        <h1>Plasma<sup style="font-size: 40%; vertical-align: super;"> от KDE</sup></h1>
        <p>Простая по умолчанию, мощная по необходимости.</p>
        <a href="distributions" class="learn-more button" style="margin-top: 10px;">Выбрать дистрибутив с KDE Plasma</a><br />
        <a href="https://userbase.kde.org/Plasma/ru" class="learn-more button" style="margin-top: 10px;">Справка по использованию на Вики</a>
    </article>
		

	<svg id="demo-widgets" style="position: absolute; top: 20px; right: 20px; width: 250px; height: 500px;" version="1.1" viewBox="0 0 250 500">
        <defs>
            <radialGradient id="radialGradient4941" gradientUnits="userSpaceOnUse" cy="677.36" cx="125" r="115">
                <stop stop-color="#232629" offset="0"/>
                <stop stop-color="#232629" stop-opacity=".52349" offset="0.9"/>
                <stop stop-color="#232629" stop-opacity=".10738" offset="0.96"/>
                <stop stop-color="#232629" stop-opacity="0" offset="1"/>
            </radialGradient>
            <style type="text/css">.ColorScheme-Text {
            color:#4d4d4d;
        }</style>
            <style type="text/css">.ColorScheme-Text {
            color:#4d4d4d;
        }</style>
        </defs>
        <g transform="translate(0 -552.36)">
            <rect opacity=".2" rx="3" ry="3" height="222" width="222" y="811.36" x="14" fill="#172525"/>
            <circle cx="125" cy="677.36" r="115" fill="url(#radialGradient4941)"/>
            <circle cx="125" cy="677.36" r="110" fill="#6f8181"/>
            <circle cx="125" cy="677.36" r="109" fill="#eff1f1"/>
            <g fill="#54a3d8">
                <rect height="3" width="20" y="675.86" x="20"/>
                <rect height="3" width="20" y="675.86" x="210"/>
                <rect transform="rotate(90)" height="3" width="20" y="-126.5" x="762.36"/>
                <path d="m131.38 25.77c-3.08 0-5.58.878-7.5 2.636l1.14 3.067c1.62-1.641 3.71-2.461 6.27-2.461 1.71 0 3.05.436 4 1.308.95.873 1.42 2.142 1.42 3.809 0 1.068-.32 2.148-.97 3.242-.64 1.081-1.6 2.35-2.87 3.809l-9.4 10.683v3.692h16.45v-3.008h-13.03l8.26-8.809c1.81-1.94 3.15-3.652 4.03-5.136.87-1.498 1.3-3.093 1.3-4.786 0-2.487-.83-4.446-2.5-5.878-1.65-1.446-3.85-2.168-6.6-2.168zm-14.88 1.23c-1.94 1.367-3.53 2.324-4.78 2.871v3.067c1.59-.717 3.18-1.609 4.78-2.676v25.293h3.5v-28.555h-3.5z" transform="translate(0 552.36)"/>
            </g>
            <g transform="matrix(1.0512 0 0 1.0512 -6.742 -28.2)">
                <path opacity=".6" style="color:#000000;text-indent:0;block-progression:tb;text-decoration-line:none;text-transform:none" d="m75.614 584.1-.95463.56574 2.369 4.0662c.31421-.18493.63815-.34896.95463-.53038zm99.428 0-2.2984 3.9955c.33107.18876.66157.37317.99004.56574l2.2984-3.9955zm-108.27 5.6927-.91932.63646 2.7933 3.8541c.30425-.22503.61236-.45033.91944-.67182zm117.11 0-2.6873 3.7127c.30188.21694.62016.4161.91933.63645l2.6872-3.7126zm-125.31 6.5767-.81330.74253 3.147 3.5005c.27133-.24833.57434-.46195.84861-.70718zm133.51 0-3.0763 3.3944c.28094.2501.57083.48918.84861.74253l3.0763-3.3944zm-140.97 7.39-.74248.8486 3.5359 3.1823c.24802-.27983.49129-.57172.74248-.8486zm148.44 0-3.3944 3.0408c.26318.28905.5181.5917.77778.88397l3.3944-3.0762zm-155.08 8.1325-.67176.88396 3.8895 2.8287c.21747-.30361.41559-.61838.63646-.91933zm161.73 0-3.6773 2.6872c.21554.29289.42407.58855.63634.88397l3.7127-2.6873zm-167.53 8.7689-.56574.99004 4.1724 2.4044c.18737-.33005.37441-.66245.56574-.99004zm173.33 0-3.9602 2.2983c.19235.32861.37712.65897.56573.99005l3.9602-2.2983zm-178.14 9.3347-.45961 1.0254 4.3845 1.9447c.15083-.34546.30493-.68207.45961-1.0254zm182.95 0-4.1724 1.8386c.15422.34102.30946.68225.45972 1.0254l4.1723-1.8386zm-186.76 9.7943-.35347 1.0608 4.5965 1.4851c.11088-.34895.20412-.71354.31828-1.0608zm190.58 0-4.3492 1.4144c.11552.35039.24202.70859.35358 1.0608l4.3491-1.4144zm-193.38 10.148-.21215 1.0961 4.7026.99005c.07468-.36671.16882-.73096.24757-1.0961zm196.13 0-4.4551.95469c.0781.36282.13781.73177.21204 1.0961l4.4906-.95469zm-197.8 10.36-.14144 1.0961 4.8441.49502c.03508-.3643.06676-.73302.10636-1.0961l-4.8088-.49502zm199.53 0-4.5966.49502c.0396.3631.0713.73182.10636 1.0961l4.5965-.49502-.10636-1.0961zm-194.79 20.473-4.8794.49502.14144 1.1315 4.8441-.49503c-.04187-.37639-.06902-.75376-.10636-1.1315zm190.26 0c-.0373.37771-.0645.75508-.10636 1.1315l4.6319.49503.10636-1.1315zm-188.78 9.8651-4.7735 1.0254.21215 1.0961 4.8088-1.0254c-.08033-.36472-.17187-.72986-.24745-1.0961zm187.29.0707c-.0758.36617-.16746.7315-.24757 1.0961l4.5259.95468.24756-1.0961zm-184.75 9.5822-4.6673 1.5204.35347 1.0961 4.6673-1.5204c-.12163-.36577-.23614-.72839-.35347-1.0961zm182.17.0707c-.11778.36759-.23161.73047-.3537 1.0961l4.4553 1.4497.35347-1.0961zm-178.63 9.2993-4.4906 2.0154.45961 1.0254 4.4906-2.0154c-.15569-.34293-.30788-.68033-.45961-1.0254zm175.1.10601c-.15151.34322-.30437.68433-.45972 1.0254l4.2784 1.9094.45961-1.0254zm-170.57 8.8043-4.3139 2.4751.56574.99005 4.3139-2.4751c-.19224-.32697-.37735-.6606-.56574-.99004zm166.04.10602c-.18964.33047-.37248.66207-.56574.99004l4.1016 2.369.56573-.99004zm-160.67 8.3093-3.9956 2.8994.67176.91933 3.9956-2.8994c-.22573-.30583-.44965-.61074-.67176-.91933zm155.22.10602c-.21848.3027-.41434.61929-.63634.91933l3.8187 2.7933.67175-.91933zm-148.93 7.6728-3.7126 3.3237.74248.84861 3.7127-3.3237c-.25368-.278-.49208-.56763-.74259-.84861zm142.67.10602c-.25617.28657-.51833.56516-.77789.8486l3.5713 3.2176.77778-.84861zm-135.71 7.001-3.2884 3.6773.81330.77789 3.3237-3.7127c-.28083-.2501-.57072-.48918-.84861-.74253zm128.67.10602c-.284.25808-.56132.52321-.84861.77789l3.2177 3.5712.84861-.77789zm-120.96 6.2231-2.8994 3.9955.91932.67181 2.8994-3.9955c-.30731-.22103-.61473-.44725-.91932-.67182zm113.22.10602c-.30504.22393-.61145.45144-.91932.67182l2.8287 3.8894.91932-.67182zm-104.84 5.4099-2.475 4.2784.95463.56574 2.4751-4.3138c-.31681-.18101-.64019-.34585-.95474-.53038zm96.458.0707c-.31998.18689-.63226.38247-.95462.56574l2.4044 4.2077.99004-.56574zm-87.619 4.5259-1.9801 4.4906 1.0253.45966 2.0154-4.4906c-.35438-.15576-.70853-.29974-1.0606-.45966zm78.779.10602c-.34839.15712-.71035.30661-1.0609.45966l1.9448 4.3845 1.0608-.45966zm-69.444 3.5359-1.5205 4.7027 1.0608.35359 1.5204-4.7027c-.35540-.11331-.70717-.23625-1.0606-.35359zm60.074.0707c-.36457.12003-.72958.23784-1.0961.35359l1.5204 4.632 1.0961-.35359zm-50.457 2.5458-1.0254 4.8088 1.1314.24751 1.0255-4.8088c-.37769-.0778-.7556-.1652-1.1315-.24751zm40.804.0707c-.36943.0798-.72505.17203-1.0961.24751l1.0254 4.7381 1.0961-.24751zm-30.903 1.5558-.53044 4.9148 1.1315.10602.49502-4.8795c-.36761-.0363-.72969-.10093-1.0961-.14143zm21.038.0354c-.36547.0396-.72946.0706-1.0961.10602l.49491 4.8795 1.0962-.10602z" fill="#31363b"/>
                <path d="m76.509 583.8-2.6541 1.5315 2.632 4.5568 2.6541-1.5315-2.632-4.5568zm97.597 0-2.6298 4.5568 2.6541 1.5315 2.6298-4.5568-2.6541-1.5315zm-134.85 36.132-1.5315 2.6541 4.5569 2.632 1.5315-2.6541-4.5568-2.632zm172.11 0-4.5568 2.632 1.5337 2.6541 4.5568-2.632-1.5337-2.6541zm-169.08 97.621-4.5569 2.6298 1.5315 2.6541 4.5568-2.6298-1.5315-2.6541zm166.06 0-1.5337 2.6541 4.5568 2.6298 1.5337-2.6541-4.5568-2.6298zm-131.85 35.328-2.632 4.5568 2.6541 1.5337 2.632-4.5568-2.6541-1.5337zm97.643 0-2.6541 1.5337 2.6298 4.5568 2.6541-1.5337-2.6298-4.5568z" fill="#666667"/>
            </g>
            <g>
                <path d="m134.67 66.799l-3.78 4.439-7.81 47.032a7 7 0 0 0 -5.08 6.73 7 7 0 0 0 7 7 7 7 0 0 0 7 -7 7 7 0 0 0 -3 -5.74l7.81-47.037-2.14-5.424z" transform="translate(0 552.36)" fill="#172525"/>
                <path d="m125 121a4 4 0 0 0 -4 4 4 4 0 0 0 1.18 2.83l-24.926 59.27 2.766 1.16 24.93-59.26a4 4 0 0 0 .05 0 4 4 0 0 0 4 -4 4 4 0 0 0 -4 -4z" transform="translate(0 552.36)" fill="#536161"/>
                <rect rx="2" ry="2" height="220" width="220" y="812.36" x="15" fill="#e9d6bb"/>
                <path d="m15 478c0 1.11.892 2 2 2h216c1.11 0 2-.89 2-2h-220z" transform="translate(0 552.36)" fill="#d4ba94"/>
                <path style="color:#4d4d4d" d="m35 442v3h1v10h-1v3h3v-1h10v1h3v-3h-1v-10h1v-3h-3v1h-10v-1h-3zm172.5 0c-1.21 0-2.22.86-2.45 2h-6.05v1h6.05c.23 1.14 1.24 2 2.45 2s2.22-.86 2.45-2h5.05v-1h-5.05c-.23-1.14-1.24-2-2.45-2zm-171.5 1h1v1h-1v-1zm13 0h1v1h-1v-1zm-11 1h10v1h1v10h-1v1h-10v-1h-1v-10h1v-1zm0 2v2h4v7h2v-7h4v-2h-10zm163.5 7c-1.38 0-2.5 1.12-2.5 2.5s1.12 2.5 2.5 2.5c1.21 0 2.22-.86 2.45-2h11.05v-1h-11.05c-.23-1.14-1.24-2-2.45-2zm0 1c.83 0 1.5.67 1.5 1.5s-.67 1.5-1.5 1.5-1.5-.67-1.5-1.5.67-1.5 1.5-1.5zm-165.5 2h1v1h-1v-1zm13 0h1v1h-1v-1z" transform="translate(0 552.36)" fill="currentColor"/>
                <text style="word-spacing:0px;letter-spacing:0px" xml:space="preserve" font-size="12.5px" line-height="125%" y="842.36218" x="34" font-family="&apos;Noto Sans&apos;" fill="#334545"><tspan x="34" y="842.36218">Не забудь купить молоко!</tspan></text>
            </g>
        </g>
    </svg>
    
    <div id="demo-panel" style="background-color: rgba(239,241,241,.9);">
        <svg height="32" width="32" viewBox="0 0 32 32">
            <path id="path4901" style="color:#4d4d4d" d="m11 6c-0.692 0-1.25 0.5575-1.25 1.25s0.558 1.25 1.25 1.25 1.25-0.5575 1.25-1.25-0.558-1.25-1.25-1.25zm8.75 0l-2.5 2.5 3.75 3.75-3.75 3.75 2.5 2.5 3.75-3.75 2.5-2.5-6.25-6.25zm-11.875 7.5c-1.0388 0-1.875 0.836-1.875 1.875s0.8362 1.875 1.875 1.875 1.875-0.836 1.875-1.875-0.8362-1.875-1.875-1.875zm5.625 7.5c-1.385 0-2.5 1.115-2.5 2.5s1.115 2.5 2.5 2.5 2.5-1.115 2.5-2.5-1.115-2.5-2.5-2.5z" fill="#334545"/>
        </svg>
        <div id="demo-toolbar">
        <svg height="32" width="32" viewBox="0 0 32 32">
            <path style="color:#4d4d4d" d="m15.988 8l-4.988 4.99v0.01 1 4 1 0.01l4.988 4.99h1.012v-0.402-15.196-0.402h-1.012zm3.336 4.281l-0.539 0.862a4 4 0 0 1 1.215 2.857 4 4 0 0 1 -1.211 2.861l0.539 0.864a5 5 0 0 0 1.672 -3.725 5 5 0 0 0 -1.676 -3.719zm-11.324 0.719v1 4 1h2v-1-4-1h-2z"/>
            <path id="path4188" style="color:#4d4d4d" d="m18.865 8.5371l-0.244 0.9766a7 7 0 0 1 4.379 6.4863 7 7 0 0 1 -4.381 6.479l0.244 0.974a8 8 0 0 0 5.137 -7.453 8 8 0 0 0 -5.135 -7.4629z" fill-opacity=".25"/>
            </svg><span style="font-size: 20px; line-height: 32px; vertical-align: middle; padding-right: 3px;">13:37</span>
        </div>
    </div>
</section>
 
<main class="container">
    <section class="row">
        <article class="col-md">
            <h3>Среда на основе виждетов</h3>
            <p>
                Plasma построена на виджетах — универсальных блоках,
                которые можно добавлять, перемещать и настраивать
                под свой рабочий процесс.
            </p>
        </article>
        <article class="col-md">
            <h3>Интеграция с Android</h3>
            <p>
                Приложение KDE Connect для Android позволяет бесшовно 
                связать Plasma с мобильным устройством.
                <br><a href="https://play.google.com/store/apps/details?id=org.kde.kdeconnect_tp">Загрузить из Play Store ></a>
            </p>
        </article>
        <article class="col-md">
            <h3>Быстрая и эффективная</h3>
            <p>
                Plasma быстрее и эффективнее, чем когда либо, и потребляет
                меньше ресурсов, чем рабочая среда прошлого поколения.
            </p>
        </article>
        <article class="col-md">
            <h3>Функциональная и цельная</h3>
            <p>
                Plasma предлагает более тщательно интегрированные
                инструменты, чем другие среды для Linux и BSD.
            </p>
        </article>
    </section>
</main>
