<script type="text/javascript" src="https://vk.com/js/api/openapi.js?159"></script>

<!-- VK Widget -->
<div id="vk_widget"></div>
<script type="text/javascript">
    
    function VK_Widget_Init(){
        document.getElementById('vk_widget').innerHTML = '<div id="vk_groups" class="mx-auto d-block m-3"></div>';
        VK.Widgets.Group("vk_groups", {mode: 4, width: "auto", height: "400"}, 33239);
    };
    window.addEventListener('load', VK_Widget_Init, false);
    window.addEventListener('resize', VK_Widget_Init, false);
</script>
