<!DOCTYPE html>
<html>

	{% include head.html %}

	<body {% if page.fixed-header %} style="padding-top: 50px;" {% endif %}>

		{% include header.html %}
        {% if page.pre-content %}
            {% include {{ page.pre-content }}.html %}
		{% endif %}

		<div class="container">
            {{ content }}
            <footer class="entry-footer">
            </footer>
		</div>

		{% include footer.html %}

	</body>
</html>
