---
layout: default
---


<div class="w3-container">

	<div class="post-header">
		{% include back-button.html link="/blog" %}

		<h1>{{ page.title }}</h1>
		<p class="meta">{% include date.html date=page.date %}{% if page.author %} • {{ page.author }}{% endif %}{% if page.meta %} • {{ page.meta }}{% endif %}</p>
	</div>
	<hr>

	<article class="post-content">
	{{ content }}
	</article>
</div>
